@function attribute-name($type,$name){
	@if $type == 'color' {
		@return map-get($colors, $name)
	}
	@else if $type == 'font' {
		@return map-get($font, $name)
	}
}

@function padding($value){
	@return $value $value*6
}
