@mixin data-cell{
	padding:padding(9px);
}

@mixin input{
	width:34%;
	padding:padding(8px);
}

@mixin tableButton{
	border-radius: 50%;
	padding: 6px;
	margin-right: 7px;
	border: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
}

@mixin coloring{
	background: attribute-name(color,headline-txt-color);
	color: attribute-name(color,headline-bg-color);
    border: 1px solid attribute-name(color,light-black);
}