$buttonMargin: 9px;

@mixin modalButton{
	padding:10px 16px;
	border:none;
	color: white;
	font-size: 16px;
	border-radius:3px;
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	
	.modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 1rem 1.5rem;
		width: 30rem;
		border-radius: 0.5rem;
		
		.close-button {
			float: right;
			width: 1.5rem;
			line-height: 1.5rem;
			text-align: center;
			cursor: pointer;
			border-radius: 0.25rem;
			background-color: lightgray;
			
			&:hover {
				background-color: darkgray;
			}
		}
		h2{
			text-align:center;
		}
		.modal-data{
			padding:10px 0px;
			
			.data-items{
				padding: 10px 0px;
				
				&:nth-last-child(1){
					text-align:center;
				}
				
				label{
					width:100%;
					display: inline-block;
					padding: 5px 0px;
				}
				
				.btn-edit{
					@include modalButton;
					//margin-right: $buttonMargin;
					background-color: lighten(green, 10%);
				}
				
				.btn-delete{
					@include modalButton;
					//margin-left:$buttonMargin;
					background-color: lighten(red, 10%);
					
				}
			}
		}
	}
}



.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
