

$colors:(
/*
	COLOR VARIABLE
*/
//Headline color	
	headline-bg-color: black,
	headline-txt-color: white,
	
//Navbar color
	navbar-bg-color: blue,
	
	gray:#f5f5f5,
	
	primary:#007bff,
	success:#259825,
	danger: lighten(red, 5%),
	light-black: #d0d0d0
);


$font:(
/* 
	FONT SIZE
*/
//Navbar font
	navbar-font: 20px
);