@import '_modal';
@import 'style';
	
.search-info{
	text-align: center;
	padding: 12px;
	
	.input-items{
		text-align:center;
		padding: 10px 0px;
	
		.input-field{
			@include input;
		}
	}
	.btn-submit{
		@include coloring;
		width: 14%;
		padding:8px;
		
		&:hover{
			background-color: attribute-name(color,success);
			color: attribute-name(color,headline-txt-color);
		}
	}
	
}